@charset "utf-8";

#slider {
    width: 100%;
    min-height: 600px;
    background: url(img/kero_slider.jpg) no-repeat center;
    background-size: cover;
}

#slider p {
    position: sticky;
    top: 10%;
    padding: 2%;
    font-size: 2vW;
    color: darkgreen;
    text-shadow: 0 0 20px pink;
    
}

#slider p > span {
    display: block;
    font-family: 'bitbit';
    font-size: 6.5vW;
}

section {
    width: 100%;
    height: 4000px;
    padding: 30% 0;
}

section article {
    width: 100%;
    height: 600px;
    margin-bottom: 50%;
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 12.5%;
    background-color: rgb(250, 255, 245);
}

section article > p {
    padding: 2%;
    font-size: 2vW;
    color: rgb(187, 235, 92);
}

section article > p::after{
    content: "scroll\2195";
    display: block;
    font-family: 'bitbit';
    font-size: 2vw;
    color: pink;
}

section article p > span {
    display: block;
    font-family: 'bitbit';
    font-size: 6.5vW;
}

section .scroll {
    flex: 1;
    overflow: auto;
    border: 6px dotted rgb(187, 235, 92);
    position: relative;
    margin: 2%;
}

section .scroll > li {
    width: 50%;
    position: relative;
    text-align: center;
    left: 0;
}

section .scroll > li:nth-child(even) {
    left: 50%;
}

section .scroll img {
    max-width: 100%;
}

section .scroll img:hover {
    animation: jump 0.5s ease-in-out none;
}

@keyframes jump {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
    }
}

section .scroll p {
    margin-top: -20%;
    padding: 2%;
    font-size: 1vW;
}

section .scroll p > span {
    display: block;
    font-family: 'bitbit';
    font-size: 2vW;
}

#family_img {
    width: 100%;
    height: auto;
    display: flex;
}

#family_img img {
    width: 16.6%;
    margin-bottom: 5%;
    animation: jump 1s ease-in-out infinite;
    animation-play-state: running;
}

#family_img img:nth-child(even) {
    animation: jump_down 1s ease-in-out infinite;
}

@keyframes jump_down {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10%);
    }
}