@charset "utf-8";

@font-face {
    font-family: 'KoddiUDOnGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bitbit';
    src: url('https://cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'), url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(250, 255, 245);
    font-family: 'KoddiUDOnGothic-Regular';
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'bitbit';
    font-size: 2vw;
    background-color: rgb(187, 235, 92);
    width: 100%;
    height: auto;
    line-height: 100px;
    position: fixed;
    top: 0;
    z-index: 3;
}

footer {
    width: 100%;
    height: auto;
    position: relative;
}

footer .footerimg {
    width: 100%;
    height: 250px;
    position: absolute;
    top: -200px;
    background: transparent url('img/footer.svg') no-repeat center;
    background-size: cover;
    animation: move2 1s steps(1,start) infinite;
    animation-play-state: running;
}

@keyframes move2 {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
  }

footer .inner {
    width: 100%;
    height: 400px;
    background-color: rgb(187, 235, 92);
    font-size: 1vw;
    position: relative;
    padding-top: 30px;
}

footer .inner .top {
    text-decoration: none;
    color: salmon;
    font-family: 'bitbit';
    font-size: 3vw;
    position: fixed;
    bottom: 100px;
    right: 50px;
    text-align: center;
    display: none;
}

footer .inner .top::before {
    display: block;
    width: 100%;
    height: 30px;
    content: '\005E';
    font-size: 4vw;
}

footer .inner .footer_menu li {
    margin: 10px 100px;
}

footer .inner .footer_menu a {
    font-family: 'bitbit';
    font-size: 2vw;
    text-decoration: none;
    color: #fff;
}

footer .inner .footer_menu a:hover {
    border-top: 6px dotted #fff;
    padding-top: 5px;
}

footer .inner .info {
    margin-top: 10px;
    left: 6%;
    position: relative;
    width: 70%;
    color: darkgreen;
}

footer .inner .info .info_in {
    display: none;
}

footer .inner .info span {
    font-weight: 700;
    cursor: pointer;
}

footer .inner .info span::after {
    display: inline-block;
    height: 1.2vw;
    content: '\005E';
    rotate: 180deg;
    font-size: 1.2vw;
    margin: 5px 0 0 5px;
}

#kero.active span::after {
    transform: rotate(180deg);
    position: relative;
    top: 5px;
}

footer .inner> p {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

@media (max-width:399px) {
    header {
        font-size: 4vw;
    }
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    #icon {
        cursor: pointer;
        display: inline-block;
        width: auto;
    }

    #icon .sticks {
        background: #fff;
        border-radius: 3px;
        display: block;
        height: 6px;
        position: relative;
        transition: background .2s ease-out;
        width: 40px;
    }

    #icon .sticks:before,
    #icon .sticks:after {
        background: #fff;
        border-radius: 3px;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    #icon .sticks:before {
        top: 14px;
    }

    #icon .sticks:after {
        top: -14px;
    }

    #icon.active .sticks {
        background: transparent;
    }

    #icon.active .sticks:before {
        top: 0;
        transform: rotate(-45deg);

    }

    #icon.active .sticks:after {
        top: 0;
        transform: rotate(45deg);
    }

    header ul li a {
        display: block;
        text-decoration: none;
        padding-left: 10px;
        color: rgb(187, 235, 92);
        background-color: #fff;
    }

    header ul li a:hover {
        color: #fff;
        background-color: rgb(187, 235, 92);
    }

    .header_menu {
        display: none;
    }

    footer .inner .footer_menu a {
        font-size: 4vw;
    }

    footer .inner .info {
        margin-top: 10px;
        left: 6%;
        position: relative;
        width: 250px;
        color: darkgreen;
    }
}

@media (max-width:767px) and (min-width:400px) {
    header {
        font-size: 4vw;
    }
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    #icon {
        cursor: pointer;
        display: inline-block;
        width: auto;
    }

    #icon .sticks {
        background: #fff;
        border-radius: 3px;
        display: block;
        height: 6px;
        position: relative;
        transition: background .2s ease-out;
        width: 40px;
    }

    #icon .sticks:before,
    #icon .sticks:after {
        background: #fff;
        border-radius: 3px;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    #icon .sticks:before {
        top: 14px;
    }

    #icon .sticks:after {
        top: -14px;
    }

    #icon.active .sticks {
        background: transparent;
    }

    #icon.active .sticks:before {
        top: 0;
        transform: rotate(-45deg);

    }

    #icon.active .sticks:after {
        top: 0;
        transform: rotate(45deg);
    }

    header ul li a {
        display: block;
        text-decoration: none;
        padding-left: 10px;
        color: rgb(187, 235, 92);
        background-color: #fff;
    }

    header ul li a:hover {
        color: #fff;
        background-color: rgb(187, 235, 92);
    }

    .header_menu {
        display: none;
    }

    footer .inner .footer_menu a {
        font-size: 4vw;
    }

    footer .inner .info {
        margin-top: 10px;
        left: 6%;
        position: relative;
        width: 400px;
        color: darkgreen;
    }
}

@media (min-width:768px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header ul {
        display: flex !important;
        width: 50%;
        justify-content: space-around;
    }

    header ul li a {
        text-decoration: none;
        color: #fff;
    }

    header ul li a:hover {
        border-top: 6px dotted #fff;
        padding-top: 5px;
    }

    #icon {
        display: none;
    }
}