@charset "utf-8";

.pop:hover {
    transform: rotate(-30deg);
}

#slider {
    background-color: rgb(187, 235, 92);
    width: 100%;
    height: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#slider .arch {
    width: 100%;
    height: 900px;
    background-color: rgb(250, 255, 245);
    border-radius: 600px 600px 0 0;
    position: absolute;
    bottom: 0;
}

#slider h1 {
    font-family: 'bitbit';
    font-size: 6.5vw;
    letter-spacing: 0.1em;
    text-align: center;
    color: salmon;
    position: relative;
    top: 7%;
}

#slider img {
    position: relative;
    top: 50px;
}

#slider p {
    text-align: center;
    line-height: 30px;
    color: darkgreen;
    position: relative;
}

#slider .pop {
    position: absolute;
}

#slider .pop:nth-of-type(2) {
    left: 100px;
    top: 500px;
}

#slider .pop:nth-of-type(3) {
    right: 100px;
    top: 200px;
}

#slider .pop:nth-of-type(4) {
    right: 300px;
    top: 800px;
}

section {
    width: 100%;
    height: 2500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

section .pop {
    position: absolute;
}

section .pop:nth-of-type(1) {
    top: 80px;
}

section .pop:nth-of-type(2) {
    top: 900px;
    left: 500px;
}

section .pop:nth-of-type(3) {
    top: 600px;
    right: 300px;
}

section .pop:nth-of-type(4) {
    top: 1800px;
}

section .pop:nth-of-type(5) {
    top: 2000px;
    left: 500px;
}

section .pop:nth-of-type(6) {
    top: 1300px;
    right: 500px;
}

section article {
    width: 80%;
    height: auto;
    border: 6px dotted rgb(187, 235, 92);
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section article img,
section article video {
    width: 25vw;
    min-width: 250px;
}

section .name {
    font-family: 'bitbit';
    font-size: 3rem;
    color: rgb(187, 235, 92);
}

section ul {
    flex: 1;
    margin: 1%;
}

section ul li {
    padding: 1%;
}

section #popup li {
    margin: 30px;
    border-radius: 50px;
    background-color: pink;
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
section #popup li:hover {
    opacity: 0.6;
}

section .hidden {
    position: absolute;
    left: 50%;
    margin-left: -237.5px;
    width: 475px;
    height: 300px;
    background-color: pink;
    border-radius: 30px;
    box-shadow: 3px 3px 10px salmon;
    text-align: center;
    display: none;
}

section .hidden h2 {
    margin: 40px 0;
    color: #fff;
}

section .hidden p {
    line-height: 1.8rem;
}

section .hidden p::after {
    content: "X";
    display: block;
    font-family: 'bitbit';
    font-size: 2rem;
    color: salmon;
    margin-top: 20px;
    cursor: pointer;
}

#collabo {
    width: 100%;
    height: 900px;
    overflow: hidden;
}

#collabo h1 {
    font-family: 'bitbit';
    font-size: 6.5vw;
    color: salmon;
    text-align: center;
    padding: 100px 0;
}

#collabo #slideWrap {
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

#collabo #slideWrap > p {
    width: 100%;
    position: absolute;
    top: 450px;
    text-align: center;
}

#collabo #slideWrap .prev,
#collabo #slideWrap .next {
    display: inline-block;
    font-family: 'bitbit';
    font-size: 3.5rem;
    cursor: pointer;
    color: rgb(187, 235, 92);
    line-height: 100px;
    padding: 0 50px;
}


#collabo #slideWrap .prev:hover,
#collabo #slideWrap .next:hover {
    color: salmon;
}

#collabo .slide {
    width: 4000px;
    height: auto;
}

#collabo .slide>div {
    float: left;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-right: 50px;
}

#collabo .slide>div:hover {
    box-shadow: 0 0 20px rgb(187, 235, 92);
}

#collabo .slide .half {
    float: left;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}

#collabo .slide div .focus {
    outline: none;
    border: none;
    background-color: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#collabo .slide div .focus:focus {
    opacity: 1;
}

#collabo .slide div img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#collabo .slide div .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(187, 235, 92);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#collabo .slide div .text h2 {
    font-weight: 700;
}

#collabo .slide div .text p {
    color: darkgreen;
    width: 80%;
}

#collabo .slide div .text span {
    color: salmon;
    display: block;
    height: 50px;
    line-height: 50px;
}

#ani {
    margin: 100px auto;
    padding: 30px 0;
    border-top: 3px solid rgb(187, 235, 92);
    border-bottom: 3px solid rgb(187, 235, 92);
    overflow: hidden;
    white-space: nowrap;
}

#ani .slider {
    font-family: 'bitbit';
    font-size: 150px;
    color: rgb(187, 235, 92);
    display: inline-block;
    animation: move 100s linear infinite;
    animation-play-state: running;
}

#ani .slider i {
    padding: 25px;
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#insta {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 200px;
    margin-top: 300px;
}

#insta h1 {
    width: 100%;
    padding-bottom: 100px;
    font-family: 'bitbit';
    font-size: 6.5vw;
    color: salmon;
}

#insta a {
    width: 400px;
    height: 400px;
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
}

#insta a .photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-position: center;
    background-size: contain;
}

#insta a .photo:hover {
    opacity: 0.3;
}

#insta a .text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'bitbit';
    font-size: 25px;
    color: salmon;
}

@media (max-width:399px) {
    #slider {
        height: 800px;
    }
    
    #slider .arch {
        height: 600px;
    }

    #slider p {
        font-size: 1.2vw;
    }

    #slider > img {
        max-width: 250px;
    }

    body .pop {
        display: none;
    }

    section {
        height: 4000px;
    }

    section .name {
        font-size: 10vw;
    }

    section article {
        justify-content: center;
    }

    section article > ul {
        min-width: 25vw;
    }

    section article #popup {
        min-width: 250px;
    }

    section .hidden {
        top: 220vw;
        margin-left: -125px;
        width: 250px;
        height: auto;
        padding: 0 15px 20px 15px;
    }

    #collabo #slideWrap > p {
        width: 100%;
        position: absolute;
        top: 300px;
        text-align: center;
    }

    #collabo .slide>div {
        float: left;
        width: 250px;
        height: 250px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        margin-right: 50px;
    }

    #collabo .slide .half {
        float: left;
        width: 250px;
        height: 156.1px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        margin-top: 80px;
    }

    #collabo .slide div .text h2 {
        font-size: 3vw;
        font-weight: 700;
    }
    
    #collabo .slide div .text p {
        font-size: 2.5vw;
        color: darkgreen;
        width: 80%;
        overflow: scroll;
    }

    #insta a {
        width: 250px;
        height: 250px;
        position: relative;
        text-decoration: none;
    }

    #insta a .text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'bitbit';
        font-size: 5vw;
        color: salmon;
    }

    #ani .slider {
        font-size: 10vw;
    }
}

@media (max-width:767px) and (min-width:400px) {
    #slider p {
        font-size: 2.5vw;
    }

    #slider > img {
        max-width: 350px;
    }

    body .pop {
        display: none;
    }

    section {
        height: 5000px;
    }

    section article {
        justify-content: center;
    }

    section article > ul {
        min-width: 25vw;
    }

    section article #popup {
        min-width: 340px;
    }

    section .hidden {
        top: 160vw;
        margin-left: -170px;
        width: 340px;
        height: auto;
        padding: 0 15px 20px 15px;
    }


    #ani .slider {
        font-size: 10vw;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    #slider p {
        font-size: 1.5vw;
    }

    body .pop {
        display: none;
    }

    section {
        height: 4000px;
    }

    section article {
        justify-content: center;
    }

    section article > ul {
        min-width: 25vw;
    }

    section article #popup {
        min-width: 500px;
    }

    section .hidden {
        top: 80vw;
    }
}